{{>navbar}}
<div class="container">
    {{!-- Modal add code --}}
    <div class="modal fade" id="ModalAdd">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add code</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{>Code/add option=option PaginaPai="/Antipattern/cad"}}
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn" data-dismiss="modal" style="background-color: var(--reject-color);border-color: var(--reject-color);color: #ffff;">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    
    <form action="/antipattern/cadevent" class="border m-4" action="" method="post">
        
        {{!-- titulo --}}
        <div class="form-row justify-content-around p-4">
            <div class="form-group col-11 col-md-10 col-lg-10 col-xl-10 ">
                <div class="row justify-content-center">
                    <label for="Etotaldeenvios"><h5><strong>Dados Sobre o Evento</strong></h5></label>
                </div>
            </div>
        </div>

        <div class="form-row justify-content-around p-4">
            <!--User ID -->
            <div class="form-group col-4 col-sm-4 col-md-2 col-lg-2 col-xl-4 justify-content-center">
                <div class="row justify-content-center">
                    <label for="UserId"><h5><strong>User ID</strong></h5></label>
                </div>
                <div class="row ">
                    <input type="text" class="form-control" id="UserId" value="{{user.dataValues.ID}}" name="UserID" disabled="">
                </div>
            </div>

            {{!-- ExerciseID --}}
            <div class="form-group col-4 col-sm-4 col-md-2 col-lg-2 col-xl-4 justify-content-center">
                <div class="row justify-content-center">
                    <label for="ExerciseID"><h5><strong>Exercise ID</strong></h5></label>
                </div>
                <div class="row ">
                    <input type="number" class="form-control" id="ExerciseID" name="ExerciseID" disabled>
                </div>
            </div>
        </div>


        {{!-- Selecionar ID do Exercício
        <div class="form-row justify-content-center p-4 ">
            <div class="col-xl-10">
                <label for="Problem" class="d-flex justify-content-center">
                    <h5><strong>Selecionar ID do Exercício</strong></h5>
                </label>
            </div>
            <!--coluna de baixo-->
            <div class="col-12 col-md-12 col-lg-12 col-xl-11 p-4 border overflow-auto" style=" min-height:22vh; max-height: 50vh;">
                <div class="row justify-content-center">
                    {{#each Exercises}}
                        <div class="card w-100 my-2 mx-3">
                            <h6 class="card-header"><strong>Title: {{this.dataValues.Tittle}} </strong></h6>
                            <h6 class="card-header"><strong>ID: {{this.dataValues.ID}} </strong></h6>
                            <div class="card-body">
                                <button type="button" class="btn btn-primary mt-1" onclick="document.querySelector('#ExerciseID').value = '{{this.dataValues.ID}}'">Selecionar</button>    
                            </div>
                        </div>
                            {{else}}
                    {{/each}}
                </div>
            </div>
        </div> --}}

        {{!-- Linguagem Base do Evento --}}
        <div class="form-row justify-content-around p-4">
            <div class="form-group col-11 col-md-10 col-lg-10 col-xl-10 ">
                <div class="row justify-content-center">
                    <label for="LanguageBase"><h5><strong>Linguagem Base</strong></h5></label>
                </div>
                <div class="row">
                    <select name="LanguageBase" id="LanguageBase" class="form-control">
                    {{#each languages}}
                        <option>{{OpName}}</option>
                    {{/each}}
                    </select>
                </div>
            </div>
        </div>

        {{!-- Total de envios --}}
        <div class="form-row justify-content-around p-4">
            <div class="form-group col-11 col-md-10 col-lg-10 col-xl-10 ">
                <div class="row justify-content-center">
                    <label for="Etotaldeenvios"><h5><strong>Total de Envios</strong></h5></label>
                </div>
                <div class="row">
                    <input type="number" name="totaldeenvios" id="Etotaldeenvios" class="form-control" >
                </div>
            </div>
        </div>

        {{!-- observação do evento --}}
        <div class="form-row justify-content-around p-4">
            <div class="form-group col-11 col-md-10 col-lg-10 col-xl-10 ">
                <div class="row justify-content-center">
                    <label for="EObservacao"><h5><strong>Observação do Evento</strong></h5></label>
                </div>
                <div class="row">
                    <textarea name="EObservacao" id="EObservacao" class="form-control"></textarea>
                </div>
            </div>
        </div>

        {{!-- Enviar Codigo --}}
        <div class="form-row justify-content-around p-4">
            <div class="form-group col-11 col-md-10 col-lg-10 col-xl-10 ">
                <div class="row justify-content-center">
                    <label for="ObsSECode"><h5><strong>Enviar Codigo</strong></h5></label>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary w-100 my-2 form-control" data-toggle="modal" data-target="#ModalAdd">Enviar Codigo</button>
                </div>
            </div>
        </div>


        {{!-- selecionar codigo do problema --}}
        <div class="form-row justify-content-center p-4 ">
            
            <div class="col-xl-10">
                <label for="Problem" class="d-flex justify-content-center">
                    <h5><strong>Selecionar Codigo do Problema</strong></h5>
                </label>
                <div class="row justify-content-center my-4" >
                    <input type="text" id="ProblemCodeID" name="ProblemCodeID" class="form-control" disabled placeholder="ID Selecionada">
                </div>
            </div>
            <!--coluna de baixo-->
            <div class="col-12 col-md-12 col-lg-12 col-xl-11 p-4 border overflow-auto" style=" min-height:22vh; max-height: 50vh;">
                <div class="row justify-content-center">
                    {{#each Codes}}
                        <div class="card w-100 my-2 mx-3">
                            <h6 class="card-header"><strong>Linguagem: {{this.Lang.dataValues.Name}} </strong></h6>
                            <h6 class="card-header"><strong>Code Id: {{this.Code.dataValues.ID}} </strong></h6>
                            <div class="card-body">
                                {{#if (isNull this.Code.dataValues.IMG)}}{{!--se n tiver img--}}
                                    <pre>
                                        <code>{{this.Code.dataValues.Code}}</code>
                                    </pre>
                                    {{else}}
                                    <img src="{{this.Code.dataValues.IMG}}" style="width: 100%;">
                                {{/if}}
                                <button type="button" class="btn btn-primary mt-1" onclick="document.querySelector('#ProblemCodeID').value = '{{this.Code.dataValues.ID}}'">Selecionar</button>    
                            </div>
                        </div>
                            {{else}}
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Observação sobre o codigo a cima --}}
        <div class="form-row justify-content-around p-4">
            <div class="form-group col-11 col-md-10 col-lg-10 col-xl-10 ">
                <div class="row justify-content-center">
                    <label for="ObsPCode"><h5><strong>Observação do Codigo com Erro</strong></h5></label>
                </div>
                <div class="row">
                    <textarea name="ObsPCode" id="ObsPCode" class="form-control"></textarea>
                </div>
            </div>
        </div>

        {{!-- Quando O erro correu --}}
        <div class="form-row justify-content-around p-4">
            <div class="form-group col-11 col-md-10 col-lg-10 col-xl-10 ">
                <div class="row justify-content-center">
                    <label for="WhenErr"><h5><strong>Quando o Erro Ocorreu?</strong></h5></label>
                </div>
                <div class="row">
                    <textarea name="WhenErr" id="WhenErr" class="form-control"></textarea>
                </div>
            </div>
        </div>



        <div class="form-row justify-content-center p-4">
            <div class="col-xl-10">
                <label for="Problem" class="d-flex justify-content-center">
                    <h5><strong>Selecionar Codigo da solução</strong></h5>
                </label>
                <div class="row justify-content-center my-4" >
                    <input type="text" id="SolutionCodeID" name="SolutionCodeID" class="form-control" disabled placeholder="ID Selecionada">
                </div>
            </div>
            <!--coluna de baixo-->
            <div class="col-12 col-md-12 col-lg-12 col-xl-11 p-4 border overflow-auto" style=" min-height:22vh; max-height: 50vh;">
                <div class="row justify-content-center">
                    {{#each Codes}}
                    <div class="card w-100 my-2 mx-3">
                        <h6 class="card-header"><strong>Linguagem: {{this.Lang.dataValues.Name}} </strong></h6>
                        <h6 class="card-header"><strong>Code Id: {{this.Code.dataValues.ID}} </strong></h6>
                        <div class="card-body">
                            {{#if (isNull this.Code.dataValues.IMG)}}{{!--se n tiver img--}}
                                <pre>
                                    <code>{{this.Code.dataValues.Code}}</code>
                                </pre>
                                {{else}}
                                <img src="{{this.Code.dataValues.IMG}}" style="width: 100%;">
                            {{/if}}
                            <button type="button" class="btn btn-primary mt-1" onclick="document.querySelector('#SolutionCodeID').value = '{{this.Code.dataValues.ID}}'">Selecionar</button>     
                        </div>
                    </div>
                        {{else}}
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Observação sobre o codigo a cima --}}
        <div class="form-row justify-content-around p-4">
            <div class="form-group col-11 col-md-10 col-lg-10 col-xl-10 ">
                <div class="row justify-content-center">
                    <label for="ObsSCode"><h5><strong>Observação sobre o Codigo da Solução</strong></h5></label>
                </div>
                <div class="row">
                    <textarea name="ObsSCode" id="ObsSCode" class="form-control"></textarea>
                </div>
            </div>
        </div>

        {{!-- botão de enviar --}}
        <div class="form-row justify-content-around p-4">
            <div class="form-group col-11 col-md-10 col-lg-10 col-xl-10 ">
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary"> Enviar </button>
                </div>
            </div>
        </div>
        
    </form>
</div>









<!-- Cadastro do antipattern -->
    <div class="container">
        
        <form class="border m-4" action="" method="post">
            
            <div class="form-row justify-content-around p-4">
                <!-- ID -->
                <div class="form-group col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2  justify-content-center">
                    <div class="row justify-content-center">
                        <label for="Id"><h5><strong>ID</strong></h5></label>
                    </div>
                    <div class="row ">
                        <input type="text" class="form-control" id="Id">
                    </div>
                </div>
                <!-- Titulo -->
                <div class="form-group col-11 col-md-8 col-lg-8 col-xl-8 ">
                    <div class="row justify-content-center">
                        <label for="Title"><h5><strong>Título</strong></h5></label>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control" >
                    </div>
                </div>
            </div>

            <div class="form-row justify-content-around py-4 pt-4">
                <!-- Tipos de erros -->
                <div class="dropdown col-5 col-sm-5 col-md-5 col-lg-5 col-xl-4">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="ErrosType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <h5 class="d-inline-block">Tipo(s) de Erro(s)</h5>
                    </button>
                    <div class="dropdown-menu overflow-auto w-100" style="max-height:25vh;" aria-labelledby="ErrosType"> 
                        <div class="form-check">
                            <div class="dropdown-item">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Semantica
                                </label>
                            </div>
                            <div class="dropdown-item">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                <label class="form-check-label" for="defaultCheck2">
                                    Sintaxe
                                </label>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
                
                <!-- Linguagens -->
                <div class="dropdown col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="Languages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <h5 class="d-inline-block">Linguagens</h5>
                    </button>
                    <div class="dropdown-menu overflow-auto w-100" style="max-height:25vh;"  aria-labelledby="Languages"> 
                        <div class="form-check ">
                            <div class="dropdown-item active">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    C
                                </label>
                            
                            </div>
                            <div class="dropdown-item">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                <label class="form-check-label" for="defaultCheck2">
                                    Python
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Problema -->
            <div class="form-row justify-content-center p-4">
                <div class="form-group col-11 col-md-11 col-lg-11 col-xl-11">
                    <div class="row justify-content-center">
                        <label for="Problem"><h5><strong>Problema</strong></h5></label>
                    </div>
                    
                    <div class="row" style="height:30vh;">
                        <textarea class="w-100 " name="" id="" ></textarea>
                    </div>
                </div>
            </div>

            <!-- Exemplo -->
            <div class="form-row justify-content-center p-4">
                <div class="col-xl-12">
                    <label for="Problem" class="d-flex justify-content-center">
                        <h5><strong>Exemplo(s)</strong></h5>
                    </label>
                </div>
                <!--#################-->
            </div>

            <!-- Sugestao professor -->
            <div class="form-row justify-content-center p-4">
                <div class="form-group col-11 col-md-11 col-lg-11 col-xl-11">
                    <div class="row justify-content-center">
                        <label for="TeacherSugestion"><h5><strong>Sugestão Professor</strong></h5></label>
                    </div>
                    
                    <div class="row" style="height:30vh;">
                        <textarea class="w-100 " name="" id="TeacherSugestion" ></textarea>
                    </div>
                </div>
            </div>

            <!-- Sugestao aluno -->
            <div class="form-row justify-content-center p-4">
                <div class="form-group col-11 col-md-11 col-lg-11 col-xl-11">
                    <div class="row justify-content-center">
                        <label for="StdntSugestion"><h5><strong>Sugestão Aluno</strong></h5></label>
                    </div>
                    
                    <div class="row" style="height:30vh;">
                        <textarea class="w-100 " name="" id="StdntSugestion" ></textarea>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center p-4">
                <button type="button" class="btn btn-secondary col-4 col-md-3 col-lg-3 col-xl-2 m-2">
                    Cadastrar
                </button>
            </div>
        </form>
    </div>