{{>navbar}} {{!-- Barra de navegacao do site --}}

<div class="container mt-4 pb-4" style="background-color: var(--Background-color);">
    
    <h3 class="text-center font-weight-bold pt-5 mb-5" >Cadastro de Exercício de Evento</h3>

    <form method="POST" action="/antipattern/cadevent">
        <div class="form-group row justify-content-center align-items-center">
            <label for="titulo" class="col-form-label col-sm-3 col-md-2 col-lg-2 font-weight-bold">Título:</label>
            <div class="col-sm-7 col-md-8 col-lg-7">
            <input type="text" class="form-control" id="titulo" name="titulo">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                {{!-- Apenas uma coluna para ocupar espaço --}}
            </div>
        </div>

        <div class="form-group row justify-content-center align-items-center">
            <label for="conteudos" class="col-form-label col-sm-3 col-md-2 col-lg-2 font-weight-bold">Conteudos relacionados:</label>
            <div class="col-sm-7 col-md-8 col-lg-7" onchange="atualizar()">
                {{!-- nao precisa de name pois nao sera enviado --}}
                <select id="adicionar" class="js-example-basic-single" style="width: 100%;">
                    <option value="0">Selecione os conteudos</option>
                    {{#each keywords}}
                        <option value="{{dataValues.ID}}"> {{dataValues.Name}} </option>
                        {{else}}
                    {{/each}}
                </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                {{!-- Apenas uma coluna para ocupar espaço --}}
            </div>
        </div>

        <div class="form-check " id="check_conteudos">
            {{#each keywords}}
                <input class="form-check-input" type="checkbox" value="{{dataValues.ID}}" id="check{{dataValues.ID}}" name="check">
                <label class="form-check-label" for="1">
                    {{dataValues.Name}}
                </label>
                <br>
                {{else}}
            {{/each}}
        </div>

        <div id="conteudos" class="container border rounded w-75">
            <div id="elementos" class="p-4">
                {{!--                 
                <span class="badge badge-pill badge-info m-1">Variavel 
                    <a href="#" class="badge badge-light pb-1 pr-1" style="cursor: pointer;">x</a>
                </span>

                <span class="badge badge-pill badge-info m-1">Variavel 
                    <a href="#" class="badge badge-light pb-1 pr-1" style="cursor: pointer;">x</a>
                </span>

                <span class="badge badge-pill badge-info m-1">Variavel 
                    <a href="#" class="badge badge-light pb-1 pr-1" style="cursor: pointer;">x</a>
                </span> --}}
            </div>
        </div>

        {{!-- Textarea --}}
        <div class="form-group row justify-content-center align-items-center">
            <label for="descricao" class="col-12 text-center font-weight-bold">Descricao</label>
            
            <div class="col-sm-7 col-md-8 col-lg-7">
                <textarea class="form-control" id="descricao" rows="3" name="descricao"></textarea>
            </div>
            
        </div>

        {{!-- Corpo da legenda --}}
        <div class="row">
            <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-4">
                <div class="card" style="background-color: var(--Background-color);">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Legenda</h5>
                    </div>
                    <h6 class="text-center"><span class="p-2 rounded" style="background-color: var(--contrast-color); color: white;">(Numero)</span></h6>
                    <div class="container w-75 mb-4 mx-auto border rounded">
                        <div class="row py-3 px-1 no-gutters">
                            <div class="col-6 col-sm-6 text-center "><span class="badge w-100 p-2" style="background-color: var(--contrast-color); color: white;">(Entrada)</span></div>
                            <div class="col-6 col-sm-6 text-center"><span class="badge w-100 p-2 ml-1" style="background-color: var(--main-color); color: white;">---</span></div>
                        </div>
                        <div class="row py-3 px-1 no-gutters">
                            <div class="col-6 col-sm-6 text-center "><span class="badge w-100 p-2" style="background-color: var(--contrast-color); color: white;">(Saída)</span></div>
                            <div class="col-6 col-sm-6 text-center"><span class="badge w-100 p-2 ml-1" style="background-color: var(--main-color); color: white;">---</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Fim do corpo da legenda --}}

        <div class="row mt-5">
            <div class="col-12 col-sm-12">
                <h4 class="text-center font-weight-bold">Exemplos de entrada e saída</h4>
            </div>
        </div>

        {{!-- Exemplos de entrada e saída --}}
        <div class="row border rounded m-0 overflow-auto" style="max-height: 200px;">
            
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-4">
                <h6 class="text-center"><span class="p-2 rounded" style="background-color: var(--contrast-color); color: white;"> ( ) </span></h6>
                <div class="container w-75 mb-4 mx-auto border rounded">
                        <div class="row py-3 px-1 no-gutters">
                            <div class="col-4 col-sm-4 text-center "><span class="badge w-100 p-2" style="background-color: var(--contrast-color); color: white;">(E)</span></div>
                            <div class="col-8 col-sm-8 text-center"><span class="badge w-100 p-2 ml-1" style="background-color: var(--main-color); color: white;"> <img src="/images/plus.svg" alt="" style="background-color: white;"> </span></div>
                        </div>
                        <div class="row py-3 px-1 no-gutters">
                            <div class="col-4 col-sm-4 text-center "><span class="badge w-100 p-2" style="background-color: var(--contrast-color); color: white;">(S)</span></div>
                            <div class="col-8 col-sm-8 text-center"><span class="badge w-100 p-2 ml-1" style="background-color: var(--main-color); color: white;"> + </span></div>
                        </div>
                </div>
            </div>

        </div>
        {{!-- Fim dos exemplos de entrada e saída --}}


        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>

<script defer>
    //lista para verificar se um conteudo selecionado ja esta na lista
    var lista_verif = []

    function remover_conteudo(event){
        let conteudo = event.target
        conteudo = conteudo.parentNode

        //console.log(conteudo.id)

        //removendo o elemento da lista de verificacao para poder ser inserido denovo se necessario
        var index = lista_verif.indexOf(conteudo.id)
        //verificando se o elemento realmente existe
        if(index > -1){
            lista_verif.splice(index, 1)
        }

        //desativando a checkbox correspondente
        var checkbox = document.getElementById(`check${conteudo.id}`)
        console.log(checkbox)
        checkbox.checked = false

        //removendo a partir do pai
        conteudo.parentNode.removeChild(conteudo)

    }

    function atualizar(event){

        var select = document.getElementById('adicionar')

        var value = select.options[select.selectedIndex].value;
        var text = select.options[select.selectedIndex].text; 
        text += ' '

        //ignorar a opcao "selecione um conteudo"
        if(value == 0)
            return
        //ignorar caso ja esteja na lista
        for(let i of lista_verif){
            if(i == value)
                return
        }

        lista_verif.push(value)

        //console.log(text)

        //ativando a checkbox correspondente
        var checkbox = document.getElementById(`check${value}`)
        checkbox.checked = true


        //document.getElementById('conteudos').classList.remove('d-none')

        let span = document.createElement('span')
        span.classList.add('badge')
        span.classList.add('badge-pill')
        span.classList.add('badge-info')
        span.classList.add('m-1')

        span.innerText = text
        span.id = value

        let span2 = document.createElement('span')
        span2.classList.add('badge')
        span2.classList.add('badge-light')
        span2.classList.add('pb-1')
        span2.classList.add('pr-1')
        span2.title = 'Remover'
        span2.style = 'cursor: pointer'

        span2.innerText = 'x'

        span2.addEventListener('click', remover_conteudo)

        span.appendChild(span2)

        var elementos = document.getElementById('elementos')

        elementos.appendChild(span)

    }

    $(document).ready(function() {
    $('.js-example-basic-single').select2();
    });
    
</script>